<div class="bg-white dark:bg-gray-800 p-4 rounded-xl shadow-sm border border-gray-200 dark:border-gray-700 hover:bg-gray-50 dark:hover:bg-gray-700 cursor-pointer group relative"
     draggable="true"
     data-path="{{ path }}"
     ondragstart="event.dataTransfer.setData('path', '{{ path }}');"
     tabindex="0"
>
    <twig:UX:FileManager:render :value="path" class="absolute top-0 left-0 w-full h-full object-cover rounded-xl filter brightness-50"/>

    <!-- Checkbox + Bouton de suppression -->
    <div class="flex items-center justify-between mb-2 relative">
        {{ macros.input_checkbox(path) }}

        <div class="flex items-center gap-2 opacity-0 group-hover:opacity-100 transition duration-200">
            <button type="button" class="flex items-center gap-2 bg-red-500 dark:bg-red-700 text-white p-2 rounded-lg hover:bg-red-600 dark:hover:bg-red-800 transition duration-200"
                {{ live_action('prevent|delete', {path : path}) }}
            >
                <twig:ux:icon name="iconamoon:trash" class="w-4 h-4" />
            </button>

            <button type="button" class="flex items-center gap-2 bg-blue-500 dark:bg-blue-700 text-white p-2 rounded-lg hover:bg-blue-600 dark:hover:bg-blue-800 transition duration-200"
                {{ live_action('edit', {path : path}) }}
            >
                <twig:ux:icon name="fluent-color:edit-20" class="w-4"/>
            </button>

            {% include '@UXFileManager/twig_components/item/actions.html.twig' with {actions: actions, path: path} %}
        </div>
    </div>

    <!-- Icône + Nom + Infos -->
    <a class="flex flex-col items-center space-y-3 pt-4 relative" {{ live_action('choose', {'path': path}) }}>
        <twig:ux:icon name="{{ item|mime_icon }}" class="w-16" />
        <p class="text-gray-700 dark:text-gray-300 font-medium text-center truncate w-full">{{ item.filename }}</p>
        <div class="text-gray-500 dark:text-gray-400 text-sm text-center w-full">
            <div>{{ item.size|bytes_to_human }}</div>
            <div class="truncate w-full">{{ item.mTime|date }}</div>
        </div>
    </a>
</div>
